h1 {
  color: blue;
  text-decoration: underline;

}
p {
   color: white;
}
img { 
  width:250px;
  height:200px; 
  border-style: solid;
border-color: blue;
  border-radius:14px;
  
}
body {
  background-color: grey;
  
}
table, th, td {
    border: 16px solid black;
}
li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}


